.filter {
  font-family: var(--handwriting-font);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filter label {
  font-size: 24px;
}

.filter input {
  font-family: var(--handwriting-font);
  padding: 15px;
  outline: none;
  border-radius: 20px;
  font-size: 19px;
  max-width: 200px;
  margin: 0 auto;
}
