.users-table__content::-webkit-scrollbar,
.user-card__block-list::-webkit-scrollbar {
  width: 11px;
}

.users-table__content,
.user-card__block-list {
  scrollbar-width: thin;
  scrollbar-color: #90a4ae #cfd8dc;
}

.users-table__content::-webkit-scrollbar-track,
.user-card__block-list::-webkit-scrollbar-track {
  background: #cfd8dc;
}
.users-table__content::-webkit-scrollbar-thumb,
.user-card__block-list::-webkit-scrollbar-thumb {
  height: 60px;
  background-color: #90a4ae;
  border-radius: 6px;
  border: 3px solid #cfd8dc;
}
