.users-table {
  width: 100%;
  table-layout: fixed;
}

.users-table-container {
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.users-table__head {
  background-color: #6c7ae0;
}

.users-table__head table {
  width: 100%;
}

.users-table__content {
  max-height: 520px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.users-table__content a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}

th:last-child {
  position: relative;
  right: 10px;
}

td {
  color: gray;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 15px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.image-div {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.image-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

th:first-child,
td:first-child {
  width: 15%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 15%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 30%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 20%;
}

tr:nth-child(even) {
  background-color: #f8f6ff;
}

.with-pointer {
  cursor: pointer;
}

.no-events {
  pointer-events: none;
}
