.user-card {
  font-family: var(--handwriting-font);
  position: relative;
  margin: 0 auto;
  max-width: 450px;
  padding-bottom: 2.75rem;
  padding-top: 75px;
}

.user-card::before {
  background-image: linear-gradient(
    315deg,
    rgb(142, 197, 252) 0%,
    rgb(224, 195, 252) 100%
  );
  border-radius: 15px;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  bottom: 70px;
  content: "";
  left: -35px;
  position: absolute;
  right: 35px;
  top: 0;
}

.user-card__content {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.15);
  min-height: 280px;
  padding: 20px;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}

.user-card__content h2 {
  font-size: 27px;
}

.user-card__content-category {
  font-size: 20px;
  text-decoration: underline;
  color: mediumslateblue;
}

.user-card__block-list {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 30px;
}

.user-card__content-block {
  margin-bottom: 30px;
}

.user-card__image {
  width: 65px;
  height: 65px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
  left: 10px;
  position: absolute;
  top: -33px;
}

.user-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
