@import url("https://fonts.googleapis.com/css?family=Roboto:400, 500, 300, 700");
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --table-font: "Roboto", sans-serif;
  --button-font: "Rubik", sans-serif;
  --handwriting-font: "Indie Flower", sans-serif;
}
